{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <div class="row text-center">
        {% for product in object_list %}
            <div class="col-3">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ product.description|slice:":100" }}</p>
                        <h1 class="card-title pricing-card-title">Цена: {{ product.price }} рублей</h1>
                        <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <img class="card-img-top" src="{% mymedia product.image %}" width="300" height="200" >
                        </ul>
                        <a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-lg btn-block btn-outline-primary">Подробнее</a>
                        <a href="{% url 'catalog:product_update' product.id %}" class="btn btn-lg btn-block btn-outline-primary">Редактировать</a>
                        <a href="{% url 'catalog:product_confirm_delete' product.id %}" class="btn btn-lg btn-block btn-outline-primary">Удалить</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


