{% extends 'base.html' %}
{% load static %}

{% block title %}Информация о продукте{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <p>Описание: {{ product.description }}</p>
    <p>Фото: {{ product.image }}</p>
    <p>Категория: {{ product.category }}</p>
    <p>Цена: {{ product.price }} рублей</p>
    <p>Дата создания: {{ product.created_at }}</p>
    <p>Дата последнего изменения: {{ product.updated_at }}</p>
    <p>Название версии: {{ formset.version_name }}</p>
    {% for version in product.version_set.all %}
        {% if version.current_version_indication %}
            <p><strong>Текущая версия:</strong> {{ version.version_name }} (№{{ version.number }})</p>
        {% else %}
            <p><strong>Версия:</strong> {{ version.version_name }} (№{{ version.number }})</p>
        {% endif %}
    {% endfor %}
{% endblock %}